<%- include('../header') %> 

    <main>
        <div class="hero is-medium">
            <div class="hero-body has-text-centered">
                <div class="container">
                    <form action="/locations/<%= location._id %>/vaccinations" method="POST">

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        
                        <% vaccinations.forEach(vaccination => { %>
                            <input type="checkbox" name="checkbox_<%= vaccination.name %>" id="<%= vaccination._id %>" value="<%= vaccination._id %>">
                            <label for = "<%= vaccination._id %>"> <%= vaccination.name %> </label>
                        <% }) %>

                        <button type="submit">Add vaccinations</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

<%- include('../footer') %> 