<%- include('../header') %> 

<main>
    <div class="hero is-medium">
        <div class="hero-body">
            <div class="container box">
                <div class="columns is-centered">
                    <div class="column is-vcentered is-three-quarters">

                        <h1 class="title">Localizações</h1>
                        
                        <div class="table-container">

                            <table class="table is-hoverable is-fullwidth is-striped">

                            <% if (locations.length > 0) { %>
                                <% locations.forEach(location => { %>
                                    <tr>
                                        <th></th>
                                        <td><%= location.name %> </td>
                                        <td><%= location.type %> </td>
                                        <td><a href="/locations/<%= location._id %>/vaccinations">Vaccinations</a> </td>
                                        <td><a href="/locations/<%= location._id %>/edit">Edit</a> </td>
                                        <td><a href="/locations/<%= location._id %>/delete">Delete</a> </td>
                                    </tr>
                                <% }) %>
                            <% } %>

                            </table>

                        </div>

                        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                            <% if (page > 1) { %>
                                <a class="pagination-previous" href="/locations/dashboard?page=<%= page - 1 %>">Previous page</a>
                            <% } %>
                            
                            <a class="pagination-next" href="/locations/dashboard?page=<%= parseInt(page) + 1 %>">Next page</a>
                        </nav>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../footer') %> 