<%- include('../header') %> 

    <main>
        <div class="hero is-medium ">
            
            <div class="hero-head is-info">
                <%- include('../navbar', {navbarColor: ''}) %> 
            </div>

            <div class="hero-body">
                <div class="container">

                    <div class="columns is-centered">
                        <div class="column is-vcentered is-half">
                            <form action="/locations/search" method="POST">

                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                
                                <div class="field is-horizontal is-grouped">
                                    <!--<label for="name" class="label">Busca</label>-->
                                    <div class="control is-expanded">
                                        <input class="input is-rounded" type="text" name="q" id="search" placeholder="Busca de locais">
                                    </div>

                                    <div class="control">
                                        <button class="button is-info is-outlined" type="submit">Search</button>
                                    </div>
                                    
                                </div>
                                
                                
                                
                            </form>

                        <% locations.forEach(location => { %>
                            <p> <%= location.name %> </p>
                        <% }) %>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

<%- include('../footer') %> 