<%- include('../header') %> 

<main>
    <div class="hero is-medium">
        <div class="hero-body">
            <div class="container box">
                <div class="columns is-centered">
                    <div class="column is-vcentered is-half">
                        
                        <h2 class="is-size-2"><%= location.name %></h2>
                        <p>Tipo: <%= location.type %></p> 

                        <p>Vacinas disponíveis: </p>
                        
                        <% if (vaccinations.length > 0) { %>
                            <% vaccinations.forEach(vaccination => { %>
                                <p> <%= vaccination.name %> </p>
                            <% }) %>
                        <% } %>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../footer') %> 