<%- include('../header') %> 

<main>
    <div class="hero is-medium">
        <div class="hero-body">
            <div class="container box">
                <div class="columns is-centered">
                    <div class="column is-vcentered is-half">

                        <h1 class="title">Usuários </h1>
                        
                        <% if (users.length > 0) { %>
                            <table class="table is-bordered is-striped is-fullwidth is-hoverable">

                            
                            <% users.forEach(user => { %>
                                
                                <tr>
                                    <th></th>
                                    <td> <%= user.name %> </td>
                                    
                                    <td><a href="/users/<%= user._id %>/edit">Edit</a></td>
                                    <td><a href="/users/<%= user._id %>/delete">Delete</a></td>
                                </tr>
                            <% }) %>

                            </table>
                        <% } %>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../footer') %> 